*.depend
*.layout
.vs/
Cavern.Filters/bin/
Cavern.Filters/obj/
Cavern.Format/bin/
Cavern.Format/obj/
Cavern.QuickEQ/bin/
Cavern.QuickEQ/obj/
Cavern/bin/
Cavern/obj/
CavernAmp/bin/Release/libCavernAmp.a
CavernAmp/bin/Release/libCavernAmp.def
CavernAmp/obj/
Cavernize Lite/bin/
Cavernize Lite/obj/
Cavernize Lite/samples/
CavernSamples/ImpulseFlattener/bin/
CavernSamples/ImpulseFlattener/obj/
CavernUnity DLL/bin/
CavernUnity DLL/obj/
packages/