*.depend
*.layout
.vs/
Cavern.Filters/bin/
Cavern.Filters/obj/
Cavern.Format/bin/
Cavern.Format/obj/
Cavern.QuickEQ.Format/bin/
Cavern.QuickEQ.Format/obj/
Cavern.QuickEQ/bin/
Cavern.QuickEQ/obj/
Cavern/bin/
Cavern/obj/
CavernAmp/CavernAmp.cscope_file_list
CavernAmp/bin/Release/libCavernAmp.a
CavernAmp/bin/Release/libCavernAmp.def
CavernAmp/obj/
CavernSamples/ADMValidator/bin/
CavernSamples/ADMValidator/obj/
CavernSamples/Benchmark/bin/
CavernSamples/Benchmark/obj/
CavernSamples/CavernPipeClient/bin/
CavernSamples/CavernPipeClient/obj/
CavernSamples/CavernPipeServer.Multiplatform/bin/
CavernSamples/CavernPipeServer.Multiplatform/obj/
CavernSamples/CavernPipeServer.Windows/bin/
CavernSamples/CavernPipeServer.Windows/obj/
CavernSamples/CavernizeGUI/bin/
CavernSamples/CavernizeGUI/obj/
CavernSamples/Deconvolver/bin/
CavernSamples/Deconvolver/obj/
CavernSamples/EQAPOtoFIR/bin/
CavernSamples/EQAPOtoFIR/obj/
CavernSamples/EnhancedAC3Merger/bin/
CavernSamples/EnhancedAC3Merger/obj/
CavernSamples/FilterStudio/bin/
CavernSamples/FilterStudio/obj/
CavernSamples/HRTFSetImporter/bin/
CavernSamples/HRTFSetImporter/obj/
CavernSamples/HRTFSetStatista/bin/
CavernSamples/HRTFSetStatista/obj/
CavernSamples/ImpulseFlattener/bin/
CavernSamples/ImpulseFlattener/obj/
CavernSamples/QuickEQResultMerger/bin/
CavernSamples/QuickEQResultMerger/obj/
CavernSamples/Reusable/Cavernize.Logic/bin/
CavernSamples/Reusable/Cavernize.Logic/obj/
CavernSamples/Reusable/CavernPipeServer.Logic/bin/
CavernSamples/Reusable/CavernPipeServer.Logic/obj/
CavernSamples/WAVChannelReorderer/bin/
CavernSamples/WAVChannelReorderer/obj/
CavernSamples/WavefrontSimulator/bin/
CavernSamples/WavefrontSimulator/obj/
CavernUnity DLL/bin/
CavernUnity DLL/obj/
CavernUnity.WebGL/bin/
CavernUnity.WebGL/obj/
Cavernize Lite/bin/
Cavernize Lite/obj/
Cavernize Lite/samples/
Libraries/Cavern.WPF/bin/
Libraries/Cavern.WPF/obj/
Pro/
Tests/Test.Cavern.Format/bin/
Tests/Test.Cavern.Format/obj/
Tests/Test.Cavern.QuickEQ/bin/
Tests/Test.Cavern.QuickEQ/obj/
Tests/Test.Cavern/bin/
Tests/Test.Cavern/obj/
Tests/Test.CavernUnity/bin/
Tests/Test.CavernUnity/obj/
Tests/TestResults/
packages/
