**/.vs/
**/bin/
**/obj/
CavernFTPData.txt
CavernUnityPath.txt
Cavernize Lite/samples/
copilot-instructions.md
Pro/
Tests/Test.CavernAmp/Test.CavernAmp.exe
Tests/TestResults/
Tests/coverage.json
packages/
