<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CavernizeGUI.Resources.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CavernizeGUI.Resources.Settings>
            <setting name="ffmpegLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="renderTarget" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="outputCodec" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="lastUpdate" serializeAs="String">
                <value>2020-09-21</value>
            </setting>
            <setting name="checkUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hrirPath" serializeAs="String">
                <value />
            </setting>
            <setting name="force24Bit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="surroundSwap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wavChannelSkip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastDirectory" serializeAs="String">
                <value />
            </setting>
        </CavernizeGUI.Resources.Settings>
    </userSettings>
</configuration>