<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HRTFSetImporter.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <HRTFSetImporter.Settings>
            <setting name="LastFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DirectionalSetName" serializeAs="String">
                <value>DirectionalImpulse_{Y}_{X}.wav</value>
            </setting>
            <setting name="AngleSetName" serializeAs="String">
                <value>AngleImpulse_{A}_D{D}.wav</value>
            </setting>
            <setting name="UseSpaces" serializeAs="String">
                <value>True</value>
            </setting>
        </HRTFSetImporter.Settings>
    </userSettings>
</configuration>