<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Deconvolver.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Deconvolver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Deconvolver.Settings>
            <setting name="Padding" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Convolve" serializeAs="String">
                <value>True</value>
            </setting>
        </Deconvolver.Settings>
        <Deconvolver.Properties.Settings>
            <setting name="Padding" serializeAs="String">
                <value>False</value>
            </setting>
        </Deconvolver.Properties.Settings>
    </userSettings>
</configuration>